html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    font-family: 'Amatic SC', sans-serif;
    background-color: rgba(226, 0, 255, 0.1);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 220, 253, 0.4);
    padding: 2% 0;
}

header h1 {
    font-size: 5rem;
    font-weight: 700;
    display: inline;
}

header img {
    width: 6%;
    height: auto;
    margin: 1% 3%;
}

.heading {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.heading > * {
    vertical-align: middle;
}

.buttons {
    display: inline;
}

.heading .buttons button {
    margin: 0 5%;
    background-color: rgb(28, 138, 219);
    color: white;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.heading .buttons button:hover {
    background-color: rgba(17, 220, 253, 0.4);
    color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modalContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    font-family: sans-serif;
}

.modalHeader {
    font-weight: 700;
    font-size: 2rem;
}

.modalBody {
    margin: 20px;
    font-size: 0.95rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 2.5rem;
    font-weight: 700;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.stats {
    display: inline-flex;
    margin: auto 3%;
    flex-direction: column;
    font-weight: 700;
}

.stats .title {
    margin-bottom: 8%;
    font-size: 1.5rem
}

.stats .num {
    font-size: 2rem;
}

.gameContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gameCol {
    display: inline-flex;
    flex-direction: column;
    margin: 0 0.3%;
}

.halfContainer:nth-child(1) {
    width: 50%;
    display: inline-flex;
    justify-content: flex-end;
}

.halfContainer:nth-child(2) {
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
}

.card {
    height: 150px;
    width: 150px;
    margin: 2%;
    background-color: #878787;
    display: inline;
    focusa
}

.card:hover {
    background-color: #A1A1A1;
    cursor: pointer;
}

.turnedCard {
    height: 150px;
    width: auto;
}

.turnedCard:hover {
    cursor: default;
}

@media only screen and (max-width: 1250px) and (min-width: 801px) {
    
    header h1 {
        font-size: 4rem;
    }
    
    .halfContainer:nth-child(1) {
        width: 100%;
        justify-content: center;
    }

    .halfContainer:nth-child(2) {
        width: 100%;
        justify-content: center;
    }
    
    .buttons {
        display: block;
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 800px) and (min-width: 501px) {
    
    header img {
        width: 8%;
    }
    header h1 {
        font-size: 3rem;
    }
    
    .halfContainer:nth-child(1) {
        width: 100%;
        justify-content: center;
    }

    .halfContainer:nth-child(2) {
        width: 100%;
        justify-content: center;
    }
    
    .card {
        height: 120px;
        width: 120px;
    }
    
    .turnedCard {
        height: 120px;
    }
    
    .buttons {
        display: block;
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 500px) and (min-width: 421px) {
    
    header img {
        width: 8%;
    }
    header h1 {
        font-size: 2.5rem;
    }
    
    .heading .buttons button {
        padding: 7px;
    }
    
    .stats .title {
        font-size: 1.2rem;
    }

    .stats .num {
        font-size: 1.5rem;
    }
    
    .halfContainer:nth-child(1) {
        width: 100%;
        justify-content: center;
    }

    .halfContainer:nth-child(2) {
        width: 100%;
        justify-content: center;
    }
    
    .card {
        height: 100px;
        width: 100px;
    }
    
    .turnedCard {
        height: 100px;
    }
    
    .buttons {
        display: block;
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 420px) and (min-width: 341px) {
    
    header img {
        width: 10%;
    }
    header h1 {
        font-size: 2.5rem;
    }
    
    .heading .buttons button {
        padding: 6px;
        font-size: 0.8rem;
    }
    
    .stats .title {
        font-size: 1rem;
    }

    .stats .num {
        font-size: 1.3rem;
    }
    
    .halfContainer:nth-child(1) {
        width: 100%;
        justify-content: center;
    }

    .halfContainer:nth-child(2) {
        width: 100%;
        justify-content: center;
    }
    
    .card {
        height: 80px;
        width: 80px;
    }
    
    .turnedCard {
        height: 80px;
    }
    
    .buttons {
        display: block;
        margin-bottom: 1%;
    }
}

@media only screen and (max-width: 340px) {
    
    header img {
        width: 10%;
    }
    header h1 {
        font-size: 2rem;
    }
    
    .heading .buttons button {
        padding: 6px;
        font-size: 0.7rem;
    }
    
    .stats .title {
        font-size: 0.9rem;
    }

    .stats .num {
        font-size: 1.1rem;
    }
    
    .halfContainer:nth-child(1) {
        width: 100%;
        justify-content: center;
    }

    .halfContainer:nth-child(2) {
        width: 100%;
        justify-content: center;
    }
    
    .card {
        height: 70px;
        width: 70px;
    }
    
    .turnedCard {
        height: 70px;
    }
    
    .buttons {
        display: block;
        margin-bottom: 1%;
    }
}